@model Cootrasana.Common.Models.Tickets_Movil

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tickets_Movil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Origen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoPersonas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoPersonas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValTickets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValTickets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Encomienda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Encomienda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
