@model Cootrasana.Common.Models.Tickets_Movil

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tickets_Movil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Origen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoPersonas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoPersonas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValTickets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValTickets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Encomienda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Encomienda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idTickets }) |
    @Html.ActionLink("Back to List", "Index")
</p>
